/**
 * @name Button collapse
 * @require .btn
 * 
 * @description
 * Button used to collapse sections
 * Usually has a inside icon like a caret down
 */
.btn-collapse {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
}
.btn-collapse--inverse {
    background-color: @brand-primary;
    color: #FFFFFF;
}


.btn-block {
  width: 100%;
}

.btn-default {
  a {
    color :@btn-default-color;
  }
}
.btn-success {
  a {
    color :@btn-success-color;
  }
}
.btn-info {
  a {
    color :@btn-info-color;
  }
}
.btn-primary {
  a {
    color :@btn-primary-color;
  }
}
.btn-warning {
  a {
    color :@btn-warning-color;
  }
}
.btn-danger {
  a {
    color :@btn-danger-color;
  }
}
