/**
 * Aplly to text containers like fixed divs that may have large words for mobile
 */
.text-container {
    word-wrap: break-word;
}


.container-fluid-nopadding {
    padding-left: 0;
    padding-right: 0;
}