/**
 * http://stackoverflow.com/questions/21340126/how-to-align-inputs-in-bootstrap-form-with-input-group-addons
 */
.input-group[class*="col-"] {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}
/**
 * http://stackoverflow.com/questions/21029129/create-an-inline-form-with-input-groups-bootstrap
 */
.form-inline {
    .input-group {
        display: inline-table;
        vertical-align: middle;

        .input-group-addon,
        .input-group-btn,
        .form-control {
            width: auto !important;
        }
    }
}
.form-footer {
    .form-group;
    text-align: right;
}