/**
 * Extension for bootstrap table
 *
 * Suitable to display data like the bidders list or the invoices
 * Keeps the content vertical aligned at middle and handle as well avatar pic
 */
.table-data {
  > tbody > tr > td {
    vertical-align: middle;

    &.table-data__avatar {
      padding: 0;
      .avatar {
        max-height: @font-size-base * 2;
      }
    }
  }
}

.table-responsive {
    overflow-x: auto;
}




/**
 * Inline form with table
 * http://stackoverflow.com/questions/22056293/bootstrap-inline-form-is-not-responsive-on-low-width
 */
@media (min-width:768px) {

    .table-form {
        line-height:2;
        display:table;
        border-collapse:collapse;
        vertical-align:middle;
        width:100%;
    }
    .table-form label {
        line-height:2.5;
        text-align:right;
        display:table-cell;
        vertical-align:middle
    }
    .table-form {

         // Use the fluid state to make on form group fill all available space
        > .form-group--fluid {
          width: 100%;
        }

        > .form-group {
            display: table-cell;
            padding: 0 10px;
            vertical-align: middle;
            
            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
    .table-form label span {
        text-align:right;
        display:block;
    }
    .table-form .btn {
        width:100%; 
    }

}


/**
 * Affix is fixed, the widh must inherit from is parent to be responsive
 */
.affix {
    width: inherit;
}









